# Ignore virtual environment
venv/

# Ignore Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore large model files
*.h5
*.keras

# OS-specific files
.DS_Store
Thumbs.db

# Optional: log files, environment settings
*.log
.env
